.about-section {
  background-color: black;
  position: relative;
  overflow: hidden;
}

.about_cont {
  text-align: justify;
}

.card_body{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.bg-accent-shape {
  position: absolute;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  filter: blur(150px);
  opacity: 0.35;
  z-index: 0;
}
.shape1 {
  top: -80px;
  left: -100px;
  background: #7b2ff7;
}
.shape2 {
  bottom: -100px;
  right: -80px;
  background: #7b2ff7;
}

.about-card {
  z-index: 2;
  position: relative;
  transition: transform 0.3s ease;
}
.about-card:hover {
  transform: translateY(-5px);
}

.image-frame {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.angled-photo-wrapper {
  position: relative;
  width: 90%;
  max-width: 300px;
  border-radius: 15px;
  overflow: hidden;
  transform: rotate(-3deg);
  border: 2px solid transparent;
  background: linear-gradient(90deg, #7b2ff7,#7b2ff7 ) border-box;
}

.angled-photo {
  width: 100%;
  height: auto;
  display: block;
  transform: rotate(3deg);
  border-radius: 12px;
}

.text-gradient {
  background: linear-gradient(90deg, #7b2ff7);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.about-sub {
  font-size: 1.1rem;
}

.about-text {
  font-size: 1rem;
  line-height: 1.8;
}

.about-btn {
  background: linear-gradient(90deg, #7b2ff7);
  border: none;
  color: #fff;
  padding: 0.7rem 1.6rem;
  border-radius: 30px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
}
.about-btn:hover {
  transform: scale(1.05);
}
.about-card {
  background-color: transparent !important;
  box-shadow: none; 
  color: #fff !important;
}


@media (max-width: 768px) {
  .angled-photo-wrapper {
    transform: rotate(0deg);
    max-width: 220px;
  }
  .angled-photo {
    transform: rotate(0deg);
  }
  .about-card {
    text-align: center;
  }
  .about-btn {
    margin-top: 1rem;
  }
  .about-image-col{
  display: none;
}
}
