.footer-section {
  background-color: rgb(31, 30, 30);
  color: #fff;
  padding: 60px 0 40px;
  text-align: center;
  position: relative;
  overflow: hidden;
}

.footer-logo {
  font-size: 1.8rem;
  font-weight: 700;
  color: #fff;
}

.footer-logo span {
  color: #7b2ff7;
}

.footer-tagline {
  font-size: 1rem;
  color: #bbb;
  margin-top: 10px;
  margin-bottom: 25px;
}

.social-icons {
  display: flex;
  justify-content: center;
  gap: 25px;
  margin-bottom: 25px;
}

.social-link {
  color: #fff;
  font-size: 1.6rem;
  transition: all 0.3s ease;
}

.social-link:hover {
  transform: translateY(-5px);
  color: #7b2ff7;
}

.footer-copy {
  font-size: 0.9rem;
  color: #aaa;
  border-top: 1px solid rgba(255, 255, 255, 0.15);
  padding-top: 15px;
  margin-top: 20px;
}


@media (max-width: 768px) {
  .footer-logo {
    font-size: 1.5rem;
  }

  .footer-tagline {
    font-size: 0.9rem;
  }

  .social-link {
    font-size: 1.3rem;
  }
}
