html {
  scroll-behavior: smooth;
}

.custom-navbar {
  background: linear-gradient(180deg, #131b58 0%, #363a73 50%, #84848f 100%);
  height: 10vh;

  backdrop-filter: blur(15px);
  border-bottom: 1px solid rgba(255, 255, 255, 0.08);
  transition: all 0.4s ease;
  z-index: 999;
  padding: 0.6rem 1rem;
}

.brand-text {
  color: #fff;
  font-size: 1.4rem;
  font-weight: 700;
  letter-spacing: 1px;
  transition: color 0.3s ease;
  display: flex;
  align-items: center;
}

.gradient-text {
  background: linear-gradient(90deg, #00bcd4, #7b2ff7);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 800;
}


.nav-links .nav-link {
  color: #d0d0d0 !important;
  font-weight: 500;
  margin-left: 1.2rem;
  transition: all 0.3s ease;
  position: relative;
  font-size: 1rem;
}

.nav-links .nav-link:hover {
  color: #00e5ff !important;
}


.nav-links .nav-link::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 0%;
  height: 2px;
  background: linear-gradient(90deg, #00bcd4, #7b2ff7);
  transition: width 0.3s ease;
  border-radius: 2px;
}

.nav-links .nav-link:hover::after {
  width: 100%;
}


.hire-btn {
  background: linear-gradient(90deg, #7b2ff7, #00bcd4);
  color: #fff !important;
  border-radius: 30px;
  padding: 0.45rem 1.2rem;
  font-weight: 600;
  margin-left: 1.5rem;
  box-shadow: 0 4px 15px rgba(0, 188, 212, 0.3);
  transition: all 0.5s ease;
  border: none;

  letter-spacing: 0.5px;
  text-align: center;
}

.hire-btn:hover {
  transform: scale(1.02);
  box-shadow: 0 6px 25px rgba(123, 47, 247, 0.6);
  background: linear-gradient(90deg, #00bcd4, #7b2ff7);
}


@media (max-width: 992px) {
  .nav-links {
    text-align: center;
  }

  .nav-links .nav-link {
    display: block;
    margin: 1rem 0;
    font-size: 1.1rem;
  }

  .hire-btn {
    margin-top: 0.8rem;
    display: inline-block;
    width: 100%;
  }
  .navbar-toggler {
    background: linear-gradient(90deg, #00bcd4, #7b2ff7);
  }
  .brand-text {
    font-size: 1.2rem;
  }
}


.custom-navbar.scrolled {
  background: rgba(10, 10, 10, 0.95);
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.3);
}
